.text {
    -fx-fill: -fx-text-color;
    -fx-font-size: 16;
}

.menu_button {
    -fx-background-color: -fx-quaternary-color;
    -fx-text-fill: -fx-header-color;
    -fx-font-size: 16
}

.menu_button:hover {
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: -fx-header-color;
}

.menu_button:focused {
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-color: #f5a133;
    -fx-border-width: 4;
}

#header {
    -fx-background-color: -fx-quaternary-color;
}

#sidepane {
    -fx-background-color: -fx-tertiary-color;
}

#basepane {
    -fx-background-color: -fx-primary-color;
}

.base {
    -fx-background-color: -fx-secondary-color;
    -fx-background-radius: 24;
}

.base .base_header {
    -fx-background-color: -fx-quaternary-color;
    -fx-background-radius: 24;
}

.base .base_header .text {
    -fx-fill: -fx-header-color;
    -fx-font-size: 24;
}

/* Test Case */
#testCaseSidebar {
    -fx-background-color: -fx-tertiary-color;
    -fx-background-radius: 24;
}