/* Pie Char */

#root {
}

.chart {
    -fx-start-angle: 90;
}

.chart-pie {
    -fx-border-width: 0px;
    -fx-background-color: derive(-fx-pie-color, 0%)
}

#circle {
    -fx-fill: -fx-tertiary-color;
}

.default-color0.chart-pie { -fx-pie-color: #30b0e3; }
.default-color1.chart-pie { -fx-pie-color: -fx-primary-color; }

#titleLabel .text {
    -fx-font-size: 32;
}

#gradeLabel .text {
}

#percentLabel .text {
}

#fractionLabel .text {
}